################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IntersectingRectangles/.vs/IntersectingRectangles/v15/ipch/AutoPCH/5b4a08d209f1a7b6/RECTANGLE.ipch
